@import '../../../styles/variables.scss';

.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
  padding-top: 6px;
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  height: 54px;

  .backBtn {

  }

  .selectLabel {
    color: white;
    font-weight: 600;
    margin-right: 20px;
    margin-left: 10px;
  }

  .btnLogout {
    margin-left: auto;
  }
}

.blackTheme {
  background-color: rgba($color: $gray950, $alpha: 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);

  .selectLabel {
    color: white;
  }
}

.classicTheme {
  background-color: $blue;

  .selectLabel {
    color: white;
  }
}